In [25]:
# get Validation accuracy for all participants

# dependecies
import pandas as pd
import numpy as np
import os as os
import re as re
import seaborn as sns

In [26]:
# Define paths
read_path = r'W:\WCT\04_Mind-Wandering-Labstudy\04_Daten\01_Raw_Data'
save_path = r'W:\WCT\04_Mind-Wandering-Labstudy\04_Daten\04_Prepared_data\00_Julia'

excluded_path = r'W:\WCT\04_Mind-Wandering-Labstudy\04_Daten\02_Excluded_ids.csv'

In [27]:
# Walk through participant folders and get SMI id.txt

#function to list dirs and ignore hidden files
def listdir_nohidden(path):
    l = []
    for f in os.listdir(path):
        if not f.startswith('.'):
            l.append(f)
    return l
            
#list of dates
dates= listdir_nohidden(read_path)

#list of ids per date plus SMI folder
ids_path_list = []
ids_list  = []
for date in dates:
    ids = listdir_nohidden(read_path + '\\'+ date)
    for i in ids:
        ids_path_list.append(read_path + '\\' + date + '\\' + i + r'\SMI')
        ids_list.append(i)

#access id.txt and create list of validation_accuracy for all participants
validation_accuracy_list= []
for path,id in zip(ids_path_list, ids_list):
    try:
        file = listdir_nohidden(path)
    except:
        print("SMI folder not found:")
        print(path)
        continue
    
    path = path + '\\' + file[0]
    for t in os.listdir(path):
        if t.endswith(str(id) + '.txt'): # \\08.xml -> „Validation accuracy“
            path_read = path + '\\' + t
            
            f=open(path_read,"r")
            lines=f.readlines()
            for line in lines:
                if "Validation accuracy" in line:
                    validation_accuracy =  line.split("Validation accuracy: ",1)[1]
                    validation_accuracy_list.append("id = " + str(id) + " " + validation_accuracy)
            f.close()
            

#W:\WCT\04_Mind-Wandering-Labstudy\04_Daten\01_Raw_Data\050422\08\SMI\08-[d4ac930d-b5a9-42ad-9843-d81ce7121bcd]\08.txt
#Hier unter dem Stichwort „Validation accuracy“
            
# column 4, row Validation accuracy: LeftDevX = 1,1076 LeftDevY = 1,0748 RightDevX = 0,7915 RightDevY = 1,1128

SMI folder not found:
W:\WCT\04_Mind-Wandering-Labstudy\04_Daten\01_Raw_Data\300322\103\SMI

In [28]:
# create dataframe for validation accuracy
id = []
LeftDevX = []
LeftDevY = []
RightDevX = []
RightDevY = []
for i in range(len(validation_accuracy_list)):
    validation_accuracy_one_id = validation_accuracy_list[i].replace(",", ".").split(" ")
    id.append(int(validation_accuracy_one_id[2]))
    LeftDevX.append(float(validation_accuracy_one_id[5]))
    LeftDevY.append(float(validation_accuracy_one_id[8]))
    RightDevX.append(float(validation_accuracy_one_id[11]))
    RightDevY.append(float(validation_accuracy_one_id[-1]))

data = {"id": id, "LeftDevX": LeftDevX, "LeftDevY": LeftDevY, "RightDevX": RightDevX, "RightDevY": RightDevY  }
df_validation_accuracy = pd.DataFrame(data)

              id   LeftDevX   LeftDevY  RightDevX  RightDevY
count  90.000000  90.000000  90.000000  90.000000  90.000000
mean   47.844444   0.574257   0.609501   0.577909   0.626468
std    27.359410   0.733459   0.567367   0.644071   0.619721
min     1.000000   0.062100   0.078900   0.060700   0.087600
25%    24.500000   0.221850   0.324775   0.234475   0.275925
50%    47.500000   0.350900   0.426100   0.354550   0.463650
75%    70.750000   0.592450   0.704000   0.555300   0.690900
max    97.000000   5.121800   3.960800   3.760600   4.435800

In [30]:
df_validation_accuracy.loc[df_validation_accuracy["LeftDevX"] >= 1.0]

    id  LeftDevX  LeftDevY  RightDevX  RightDevY
13   8    1.1076    1.0748     0.7915     1.1128
17  12    2.6991    3.9608     2.5114     4.4358
18  13    1.1070    1.0453     0.3028     0.6876
35  30    2.1512    1.5915     0.9039     1.4626
42  69    1.0156    3.2251     3.6289     4.2145
43  70    1.2085    0.5889     0.4683     0.2568
48  75    5.1218    2.4853     3.7606     2.7997
54  41    1.3551    1.8310     0.5205     0.4373
56  43    2.6321    1.6161     0.8774     0.7926
60  47    1.0027    0.8762     1.2531     0.6521
63  50    1.6497    1.8669     2.4512     0.9723
65  52    1.3303    1.0128     0.4625     1.2927
74  54    1.5307    1.3525     2.1959     2.2045
83  89    5.4324    3.1037     4.9947     2.7576
91  59    2.6399    1.9316     2.4976     2.3955

In [31]:
df_validation_accuracy.loc[df_validation_accuracy["LeftDevY"] >= 1.0]

     id  LeftDevX  LeftDevY  RightDevX  RightDevY
13    8    1.1076    1.0748     0.7915     1.1128
17   12    2.6991    3.9608     2.5114     4.4358
18   13    1.1070    1.0453     0.3028     0.6876
35   30    2.1512    1.5915     0.9039     1.4626
42   69    1.0156    3.2251     3.6289     4.2145
48   75    5.1218    2.4853     3.7606     2.7997
54   41    1.3551    1.8310     0.5205     0.4373
56   43    2.6321    1.6161     0.8774     0.7926
63   50    1.6497    1.8669     2.4512     0.9723
65   52    1.3303    1.0128     0.4625     1.2927
74   54    1.5307    1.3525     2.1959     2.2045
83   89    5.4324    3.1037     4.9947     2.7576
91   59    2.6399    1.9316     2.4976     2.3955
97  104    0.3511    1.0674     0.5359     0.6491

In [32]:
df_validation_accuracy.loc[df_validation_accuracy["RightDevX"] >= 1.0]

    id  LeftDevX  LeftDevY  RightDevX  RightDevY
2   63    0.3134    0.3247     1.3529     1.1542
16  11    0.7120    0.6920     1.0093     0.8569
17  12    2.6991    3.9608     2.5114     4.4358
29  24    0.4379    0.6396     1.1173     0.6473
32  27    0.6282    0.2061     2.2351     1.1954
36  31    0.9948    0.9331     1.6415     1.3300
42  69    1.0156    3.2251     3.6289     4.2145
48  75    5.1218    2.4853     3.7606     2.7997
51  38    0.8405    0.8271     1.0619     0.6740
60  47    1.0027    0.8762     1.2531     0.6521
63  50    1.6497    1.8669     2.4512     0.9723
74  54    1.5307    1.3525     2.1959     2.2045
83  89    5.4324    3.1037     4.9947     2.7576
85  91    0.1352    0.3626     1.4612     1.2187
91  59    2.6399    1.9316     2.4976     2.3955

In [33]:
df_validation_accuracy.loc[df_validation_accuracy["RightDevY"] >= 1.0]

    id  LeftDevX  LeftDevY  RightDevX  RightDevY
2   63    0.3134    0.3247     1.3529     1.1542
13   8    1.1076    1.0748     0.7915     1.1128
17  12    2.6991    3.9608     2.5114     4.4358
32  27    0.6282    0.2061     2.2351     1.1954
35  30    2.1512    1.5915     0.9039     1.4626
36  31    0.9948    0.9331     1.6415     1.3300
42  69    1.0156    3.2251     3.6289     4.2145
48  75    5.1218    2.4853     3.7606     2.7997
65  52    1.3303    1.0128     0.4625     1.2927
74  54    1.5307    1.3525     2.1959     2.2045
83  89    5.4324    3.1037     4.9947     2.7576
85  91    0.1352    0.3626     1.4612     1.2187
91  59    2.6399    1.9316     2.4976     2.3955

In [34]:
validation_accuracy_over_1 = df_validation_accuracy.loc[
    (df_validation_accuracy["LeftDevX"] >= 1.0) | (df_validation_accuracy["LeftDevY"] >= 1.0) |
    (df_validation_accuracy["RightDevX"] >= 1.0) | (df_validation_accuracy["RightDevY"] >= 1.0)]
validation_accuracy_over_1

     id  LeftDevX  LeftDevY  RightDevX  RightDevY
2    63    0.3134    0.3247     1.3529     1.1542
13    8    1.1076    1.0748     0.7915     1.1128
16   11    0.7120    0.6920     1.0093     0.8569
17   12    2.6991    3.9608     2.5114     4.4358
18   13    1.1070    1.0453     0.3028     0.6876
29   24    0.4379    0.6396     1.1173     0.6473
32   27    0.6282    0.2061     2.2351     1.1954
35   30    2.1512    1.5915     0.9039     1.4626
36   31    0.9948    0.9331     1.6415     1.3300
42   69    1.0156    3.2251     3.6289     4.2145
43   70    1.2085    0.5889     0.4683     0.2568
48   75    5.1218    2.4853     3.7606     2.7997
51   38    0.8405    0.8271     1.0619     0.6740
54   41    1.3551    1.8310     0.5205     0.4373
56   43    2.6321    1.6161     0.8774     0.7926
60   47    1.0027    0.8762     1.2531     0.6521
63   50    1.6497    1.8669     2.4512     0.9723
65   52    1.3303    1.0128     0.4625     1.2927
74   54    1.5307    1.3525     2.1959     2.2045
83   89    5.4324    3.1037     4.9947     2.7576
85   91    0.1352    0.3626     1.4612     1.2187
91   59    2.6399    1.9316     2.4976     2.3955
97  104    0.3511    1.0674     0.5359     0.6491

In [35]:
exculded_participants = validation_accuracy_over_1["id"].unique()
len(exculded_participants)

23

In [40]:
exculded_participants.sort()
exculded_participants

array([  8,  11,  12,  13,  24,  27,  30,  31,  38,  41,  43,  47,  50,
        52,  54,  59,  63,  69,  70,  75,  89,  91, 104], dtype=int64)

In [94]:
# Remove excluded IDs

excl = list(pd.read_csv(excluded_path, header = 0))
excl = [int(x) for x in excl]

excluded = list(set(excl + exculded_participants))
df_validation_accuracy = df_validation_accuracy[~df_validation_accuracy['id'].isin(excluded)]
df_validation_accuracy.describe()

              id   LeftDevX   LeftDevY  RightDevX  RightDevY
count  70.000000  70.000000  70.000000  70.000000  70.000000
mean   49.528571   0.315506   0.423374   0.330513   0.425761
std    28.411939   0.172478   0.209169   0.177898   0.218698
min     1.000000   0.062100   0.078900   0.060700   0.087600
25%    23.750000   0.182650   0.294925   0.193575   0.254775
50%    50.000000   0.292750   0.391650   0.301650   0.400500
75%    73.750000   0.384300   0.573250   0.404200   0.574575
max    97.000000   0.952600   0.991500   0.908900   0.977300

In [36]:
df_validation_accuracy.to_csv(save_path + '\\Validation_accuracy.csv', index = False, sep = ";")